<!DOCTYPE html>
<html>
  <head>
    <title>Awesome app</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
    <link rel="stylesheet" href="../static/css/profile.css" />
    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
  </head>
  <body>
<div data-role="header">
<h1>FixIt Yourself!</h1>
</div>
</select>
<div class="ui-grid-a">
  <div style="height:110px;">
    <img src="avatar.png" height="160" width="160" style="float:left;padding-right:75px;" />
    <p id="account_information" style="float:left"><b>Name: </b>Oleg Ivanov <br/> <b>Nick:</b>TimTim <br/>
      <b>Level:</b> 37
    </p>
  </div>
  </div>
  <div class="ui-block-b">
  </div>
  <div id="achivement_container">
    <div class="achievement">lalala alalalal lalalal la la la al alal alllalalalala</div>
    <div class="achievement">lalala alalalal lalalal la la la al alal alllalalalala</div>
    <div class="achievement">lalala alalalal lalalal la la la al alal alllalalalala</div>
    <div class="achievement">lalala alalalal lalalal la la la al alal alllalalalala</div>
  </div>
</div><!-- /grid-a -->
<script>
</script>
</html>
